In [2]:
import pandas as pd
import numpy as np

In [5]:
car=pd.read_csv('https://raw.githubusercontent.com/YBIFoundation/Dataset/main/Car%20Price.csv')

In [6]:
car.head()

,Brand,Model,Year,Selling_Price,KM_Driven,Fuel,Seller_Type,Transmission,Owner
0,Maruti,Maruti 800 AC,2007,60000,70000,Petrol,Individual,Manual,First Owner
1,Maruti,Maruti Wagon R LXI Minor,2007,135000,50000,Petrol,Individual,Manual,First Owner
2,Hyundai,Hyundai Verna 1.6 SX,2012,600000,100000,Diesel,Individual,Manual,First Owner
3,Datsun,Datsun RediGO T Option,2017,250000,46000,Petrol,Individual,Manual,First Owner
4,Honda,Honda Amaze VX i-DTEC,2014,450000,141000,Diesel,Individual,Manual,Second Owner

In [8]:
car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4340 entries, 0 to 4339
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Brand          4340 non-null   object
 1   Model          4340 non-null   object
 2   Year           4340 non-null   int64
 3   Selling_Price  4340 non-null   int64
 4   KM_Driven      4340 non-null   int64
 5   Fuel           4340 non-null   object
 6   Seller_Type    4340 non-null   object
 7   Transmission   4340 non-null   object
 8   Owner          4340 non-null   object
dtypes: int64(3), object(6)
memory usage: 305.3+ KB

In [9]:
car.describe()

              Year  Selling_Price      KM_Driven
count  4340.000000   4.340000e+03    4340.000000
mean   2013.090783   5.041273e+05   66215.777419
std       4.215344   5.785487e+05   46644.102194
min    1992.000000   2.000000e+04       1.000000
25%    2011.000000   2.087498e+05   35000.000000
50%    2014.000000   3.500000e+05   60000.000000
75%    2016.000000   6.000000e+05   90000.000000
max    2020.000000   8.900000e+06  806599.000000

In [11]:
car.columns

Index(['Brand', 'Model', 'Year', 'Selling_Price', 'KM_Driven', 'Fuel',
       'Seller_Type', 'Transmission', 'Owner'],
      dtype='object')

In [17]:
car['Brand'].value_counts()

Brand
Maruti           1280
Hyundai           821
Mahindra          365
Tata              361
Honda             252
Ford              238
Toyota            206
Chevrolet         188
Renault           146
Volkswagen        107
Skoda              68
Nissan             64
Audi               60
BMW                39
Fiat               37
Datsun             37
Mercedes-Benz      35
Jaguar              6
Mitsubishi          6
Land                5
Volvo               4
Ambassador          4
Jeep                3
MG                  2
OpelCorsa           2
Daewoo              1
Force               1
Isuzu               1
Kia                 1
Name: count, dtype: int64

In [18]:
car['Brand'].nunique()

29

In [22]:
car['Brand']=='Maruti'

0        True
1        True
2       False
3       False
4       False
        ...
4335    False
4336    False
4337     True
4338    False
4339    False
Name: Brand, Length: 4340, dtype: bool

In [112]:
car['Brand']=='Tata'

0       False
1       False
2       False
3       False
4       False
        ...
4335    False
4336    False
4337    False
4338    False
4339    False
Name: Brand, Length: 4340, dtype: bool

In [124]:
df=car.loc[(car['Brand']=='Maruti')]

In [125]:
df['Brand'].value_counts()

Brand
Maruti    1280
Name: count, dtype: int64

In [100]:
df['Fuel'].value_counts()

Fuel
Petrol    1429
Diesel     977
CNG         38
LPG         22
Name: count, dtype: int64

In [44]:
df['Transmission'].value_counts()

Transmission
Manual       1972
Automatic     129
Name: count, dtype: int64

In [48]:
df['Seller_Type'].value_counts()

Seller_Type
Individual          1624
Dealer               401
Trustmark Dealer      76
Name: count, dtype: int64

In [49]:
df['Owner'].value_counts()

Owner
First Owner             1370
Second Owner             538
Third Owner              143
Fourth & Above Owner      50
Name: count, dtype: int64

In [126]:
y=df['Selling_Price']
x=df[['Brand', 'Year', 'KM_Driven', 'Fuel',
       'Seller_Type', 'Transmission', 'Owner']]

In [127]:
x=pd.get_dummies(x,dtype='int')

In [128]:
from sklearn.model_selection import train_test_split

In [129]:
X_train,X_test,y_train,y_test=train_test_split(x,y,random_state=2529)

In [130]:
from sklearn.ensemble import RandomForestRegressor
model=RandomForestRegressor()

In [131]:
model.fit(X_train,y_train)

RandomForestRegressor()

In [86]:
model.intercept_

AttributeError: 'RandomForestRegressor' object has no attribute 'intercept_'

In [87]:
model.coef_

AttributeError: 'RandomForestRegressor' object has no attribute 'coef_'

In [132]:
y_pred=model.predict(X_test)

In [133]:
from sklearn.metrics import mean_absolute_percentage_error,r2_score
mean_absolute_percentage_error(y_test,y_pred)

0.32500730058313254

In [135]:
r2_score(y_test,y_pred)

0.7538262565649105

In [140]:
a=x.sample()
print(a)
model.predict(a)

      Year  KM_Driven  Brand_Maruti  Fuel_CNG  Fuel_Diesel  Fuel_LPG  \
2642  2008     100000             1         0            0         0

      Fuel_Petrol  Seller_Type_Dealer  Seller_Type_Individual  \
2642            1                   0                       1

      Seller_Type_Trustmark Dealer  Transmission_Automatic  \
2642                             0                       0

      Transmission_Manual  Owner_First Owner  Owner_Fourth & Above Owner  \
2642                    1                  0                           0

      Owner_Second Owner  Owner_Third Owner
2642                   1                  0

array([116262.40079365])

In [141]:
pd.read_csv('https://raw.githubusercontent.com/YBIFoundation/Dataset/main/Brain%20Networks.csv')

,network,1,1.1,2,2.1,3,3.1,4,4.1,5,...,16.5,16.6,16.7,17,17.1,17.2,17.3,17.4,17.5,17.6
0,node,1,1,1,1,1,1,1,1,1,...,3,4,4,1,1,2,2,3,3,4
1,hemi,lh,rh,lh,rh,lh,rh,lh,rh,lh,...,rh,lh,rh,lh,rh,lh,rh,lh,rh,lh
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0,56.05574417114258,92.03103637695312,3.391575574874878,38.65968322753906,26.203819274902344,-49.71556854248047,47.4610366821289,26.746612548828125,-35.898860931396484,...,0.6079040169715881,-70.27054595947266,77.36577606201172,-21.73455047607422,1.0282527208328247,7.7917842864990225,68.90372467041016,-10.520872116088867,120.49046325683594,-39.686431884765625
4,1,55.5472526550293,43.6900749206543,-65.49598693847656,-13.974522590637207,-28.27496337890625,-39.05012893676758,-1.2106596231460571,-19.012897491455078,19.568010330200195,...,57.49507141113281,-76.39321899414062,127.26136016845705,-13.035799026489258,46.3818244934082,-15.752449989318848,31.00033187866211,-39.607521057128906,24.76401138305664,-36.7710075378418
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
918,915,-7.4295125007629395,-4.81321907043457,-3.670536518096924,1.4422610998153689,-19.6804313659668,-29.109355926513672,-3.3765623569488525,-8.764892578125,0.017911728471517563,...,58.28579330444336,68.55741119384766,22.83304786682129,76.17948913574219,51.9346694946289,-6.614512920379639,-6.690762042999268,22.893030166625977,48.27437973022461,76.22845458984375
919,916,-33.55413818359375,-38.60562133789063,-25.66480255126953,-30.252351760864254,5.5627851486206055,20.182186126708984,17.91124725341797,24.65358161926269,-32.93561172485352,...,59.86481857299805,23.00457763671875,7.6574625968933105,50.96239852905274,13.696922302246096,63.50361633300781,57.40117645263672,24.97454833984375,51.97215270996094,64.53878784179689
920,917,-78.53956604003906,-74.19718933105469,-54.04159545898438,-39.97029113769531,-14.277058601379395,-30.606460571289066,60.62852096557617,62.02702331542969,-32.80055618286133,...,68.76786804199219,49.66401672363281,64.55149841308594,43.80074691772461,8.144479751586914,47.28145980834961,70.49964904785156,66.99440002441406,81.53924560546875,64.96977233886719
921,918,-103.23582458496094,-98.7442855834961,-40.10954284667969,-44.90773391723633,12.109148025512695,1.6213401556015017,33.765560150146484,55.35607147216797,-14.330512046813965,...,103.1552505493164,106.45484924316406,9.04682731628418,46.67441940307617,40.95479583740234,0.8771800398826599,37.57715225219727,20.517745971679688,3.124434232711792,56.71838760375977
922,919,-36.28886795043945,-10.762069702148438,-30.35626220703125,-23.31950378417969,14.252187728881836,-27.55986022949219,17.279512405395508,-19.060152053833008,26.55877685546875,...,102.0863037109375,80.05113983154297,-2.6426103115081787,-12.229619979858398,-6.596726417541504,17.665163040161133,16.153173446655273,8.300398826599121,33.687530517578125,17.960655212402344